
{%  load static %}
<html>
<head><title></title>
    <link rel="stylesheet" href="{%  static 'css/style1.css' %}"/>
    
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>

<body>
    <style>
        body {
            background-color:lightblue
        }
        form {
            background-color:darkcyan;
            margin-top:10px;
            padding:10px;
            border-radius:10px;
        
        }
        .btn {
            margin-top:10px;
        }
        a{
            color:black;

        }

    </style>
 
    <div class="container-fluid">

        <div class="row">
            <div class="offset-md-3 col-md-6">
                <form method="post">
                    <h2 class="text-center">Please Enter Your Details here</h2>
                    {% csrf_token %}
                    {{ form }}
                    <center>
                        <input type="submit" value="Register" class="btn btn-primary"/>
                        <input  type="reset" value="clear" class="btn btn-danger"/><br />
                        <a href="/login/">Login Page</a>
                    </center>

                </form>

            </div>

        </div>

    </div>


</body>
</html>
